.info-badge{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Hub);
    padding: 15px 10px;

    &__text{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 13px;
        font-weight: bold;
        color: #000000;
    }
}

@media (max-width: 768px) {
    .info-badge {
        padding: 12px 9px;

        &__text {
            font-size: 12px;
        }
    }
}

@media (max-width: 480px) {
    .info-badge {
        padding: 10px 8px;

        &__text {
            font-size: 11px;
        }
    }
}