<div class="page-counter-overview">
    <div class="pg-cnt-container">
        <div class="pg-cnt-number">280+</div>
        <div class="pg-cnt-info">
            <h4>Vehiculos</h4>
            <span>Listados activos</span>
        </div>
    </div>
    <div class="pg-cnt-container">
        <div class="pg-cnt-number">1.3K</div>
        <div class="pg-cnt-info">
            <h4>Piezas</h4>
            <span>Catalogo de Alta Calidad</span>
        </div>
    </div>
    <div class="pg-cnt-container">
        <div class="pg-cnt-number">2.8K</div>
        <div class="pg-cnt-info">
            <h4>Miembors</h4>
            <span>Comunidad Activa</span>
        </div>
    </div>
</div>
