<footer class="footer">
    <div class="footer__left">
        <app-logo-hub></app-logo-hub>
        <span class="footer__left-text">© 2026 X AutoHub. Todos los derechos reservados.</span>
    </div>
    <div class="footer__center">
        <ul class="footer__center-links">
            <li class="footer__center-link">
                <a href="#">Terminos y condiciones</a>
            </li>
            <li class="footer__center-link">
                <a href="#">Privacidad</a>
            </li>
            <li class="footer__center-link">
                <a href="#">Contacto</a>
            </li>
            <li class="footer__center-link">
                <a href="#">Reportar problema</a>
            </li>
        </ul>
    </div>
    <div class="footer__right">
        <ul class="footer__right-links">
            <li class="footer__right-link ig">
                <a href="https://www.instagram.com/xautohubrd/" target="_blank" rel="noopener noreferrer"><img src="assets/icons/instagram-w-icon.svg" alt="Instagram icon"></a>
            </li>
            <li class="footer__right-link email">
                <a href="mailto:xautohub@gmail.com?subject=Contactar%20X%20AutoHub&body=Hola%20X%20AutoHub" target="_blank" rel="noopener noreferrer"><img src="assets/icons/email-w-icon.svg" alt="Gmail icon"></a>
            </li>
            <li class="footer__right-link ws">
                <a href="https://wa.me/18097799782?text=Hola%20X%20AutoHub" target="_blank" rel="noopener noreferrer"><img src="assets/icons/whatsapp-w-icon.svg" alt="Whatsapp icon"></a>
            </li>
        </ul>
    </div>
</footer>
