.car-card{
    background-color: var(--secondary);
    width: 410px;
    transition: all 0.3s ease;
}

.car-card:hover{
    box-shadow: 7px 7px 0 0 var(--Hub-translucid);
    transform: translateY(-10px);
}

.car-card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.car-card-link{
    text-decoration: none;
}

.car-card-link img{
    width: 350px;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
}

.car-card-info{
    display: flex;
    flex-direction: column;
}

.car-card-info-up{
    display: flex;
    gap: 18px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    justify-content: space-around;
    align-items: center;
}

.car-card-info-up-left{
    display: flex;
    flex-direction: column;
}

.car-card-link h4{
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-style: italic;
    margin: 0;
    transition: all 0.2s ease;
}

.car-card-link h4:hover{
    color: var(--Hub);
}

.car-card-info-up-left span{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--main-ultra-light);
    font-size: 17px;
}

.car-card-info-up-right{
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--Hub);
}

.car-card-info-down{
    display: flex;
    justify-content: space-around;
}

.car-card-info-down-item{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}

.car-card-info-down-item span{
    color: var(--main-ultra-light);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.car-card-info-down-item h6{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: #ffffff;
    font-size: 20px;
    margin: 0;
}