<div class="home-container">
    <!--Animated Background-->
    <video class="home-bg-video" autoplay muted loop playsinline>
        <source src="assets/videos/citroen-c3-flying.mp4" type="video/mp4">
    </video>

    <!--Overlay to make the bg darknes-->
    <div class="home-bg-overlay"></div>

    <!--Home welcome content-->
    <div class="home-welcome-container">
        <div class="home-welcome-info-wrapper">
            <app-highlight-badge></app-highlight-badge>
            <div class="home-welcome-info">
                <h1>
                    <span class="home-welcome-title-line">EL HUB CENTRAL DE</span>
                    <span class="home-welcome-title-line"><span class="welcome-info-highlight">LOS&nbsp;AUTOS</span> EN RD</span>
                </h1>
                <p>La plataforma definitiva para entusiastas de los autos. Compra, vende y descubre el catalogo de piezas mas exclusivo del Caribe.</p>
            </div>
            <div class="home-welcome-cta">
                <a class="hm-wlc-cta-btn home-welcome-cta-pri" routerLink="/hub-market">
                    Explorar Marketplace
                </a>
                <a class="hm-wlc-cta-btn home-welcome-cta-sec" routerLink="/catalogo">
                    Ver catalogo
                </a>
            </div>
        </div>
    </div>
</div>