.autohub-card{
    display: flex;
    gap: 20px;
    background-color: var(--secondary);
    border-radius: 10px;
    align-items: center;
    //justify-content: center;

    a{
        text-decoration: none;
    }

    &__img{
        width: 500px;
        height: 350px;
        object-fit:contain;
        transition: all 0.2s ease;

        &:hover{
            //transform: scale(101%);
            //box-shadow: 0 0 5px 2px var(--Hub);
            filter: drop-shadow(0 0 5px var(--HubShadow));
        }
    }

    &__info{
        display: flex;
        flex-direction: column;
        color: #ffffff;

    }

    &__info-header{
        display: flex;
        flex-direction: column;
        margin: 0;

        h3{
            margin: 0;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 24px;
            color: #ffffff;
            transition: all 0.1s ease;

            &:hover{
                //filter: drop-shadow(0 0 5px var(--Hub));
                color: var(--Hub);
            }
        }

        h5{
            margin: 0;
            color: var(--Hub);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 18px;
        }
    }

    &__location{
        display: flex;
        align-items: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 15px;
        color: var(--main-ultra-light);
        img{
            width: 24px;
        }
    }
}