:root{
    --main:#121212;
    --main-light:#474646;
    --main-ultra-light:#929090;
    --primary:#ff5f00;
    //--primary-light:#ff8f00;
    //--primary-dark:#c44e00;
    --primary-light:#ff8c5c;
    --primary-dark:#cf4c00;
    --primary-ultra-light:#ffb599;
    --secondary:#212121;
    --tertiary:#e49900;
    --tertiary-soft:#ffb94d;
    --tertiary-light:#FFDDB2;
    --tertiary-dark:#c48400;
    --tertiary-ultra-dark:#a26c00;
}

html{
    background-color:var(--main) ;
}
